.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1141px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  background-image: none;
  animation-duration: 1000ms;
  margin: 27px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 61px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 583px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 26px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 302px;
  height: 214px;
  margin: 52px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 52px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(44, 127, 116) !important;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 291px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 874px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 674px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-4 {
  box-shadow: 5px 5px 26px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 302px;
  height: 214px;
  object-position: 50% 9.03%;
  margin: 53px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 51px 20px 0;
}

.u-section-1 .u-text-5 {
  line-height: 1.8;
  margin: 11px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  color: rgb(44, 127, 116) !important;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 291px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 988px;
  }

  .u-section-1 .u-text-1 {
    width: 302px;
    margin-top: -933px;
    margin-right: 308px;
    margin-left: 330px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 481px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-image-1 {
    width: 236px;
    height: 132px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 189px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 240px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 721px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 556px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-image-2 {
    width: 236px;
    height: 167px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 189px;
    margin-left: 72px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 240px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 198px;
    margin-left: 220px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    width: 163px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 142px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 184px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 552px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    width: 163px;
    height: 115px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 142px;
    margin-left: 50px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 184px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1136px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 108px;
    margin-left: 130px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 337px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 414px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 1242px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 337px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 414px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 8px;
    margin-left: 30px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 231px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 782px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 231px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 261px;
  }
}